* {
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  background: url("../assets/images/pallet-racking-solution-1.jpg") no-repeat center center/cover;
  height: 200px;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: flex-start; 
  padding-left: 50px; 
}



.overlay h1, .overlay p {
  color: white;
  margin: 0;
}

.container{
  /* background-color: #0f6480; */
  width: 100%;
  max-width:1250px !important;
  margin: auto;
 

}
.content {
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 90%;
  margin: 60px auto;
  padding: 40px 30px;
  
 
}

.content h2{
  font-size: 2rem;
  font-weight: 700;
}


.content p{
  font-size: 1rem;
}





.container-card {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  width: 450px;
  display: flex;
  flex-direction: column;
}
.card-content {
  padding: 20px 30px;
}

.view-more {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.view-more span {
  margin-left: 5px;
  transition: margin-left 0.3s;
}

.view-more:hover span {
  margin-left: 10px;
}

h1 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .header {
      height: 180px;
      padding-left: 20px;
  }
  .overlay {
      padding-left: 20px;
  }
  .content {
      width: 95%;
      padding: 20px;
  }
}